.signup-wrapper {
    margin: 5% 10% 10% 10%;
}

.signup-wrapper h1 {
    text-align: center;
    border-bottom: 2px solid rgb(0,166,255);
    width: 75%;
    margin: auto;
    padding: 15px 10px;
    font-weight: bolder;
}

label.control-label {
    font-weight: bold;
}

