
.cb-wrapper {
    display: flex;
    position: relative;
    background-color: #ddd;
    margin: 15px;
    padding: 20px;
    width: 600px;
}

.cb-icon {
    width: 75px!important;
    /*height: ;*/
    flex: 0 0 auto;
    background-color: orange;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cb-title {
    font-size: 24px;
    padding-right: 20px;

}

.cb-body {
    flex: 1 1 auto;
    padding: 5px 0 5px 10px;
}

.cb-body-row1 {
    display: flex;
}
.term {
    position: absolute;
    right: 10px;
    top: 7px;
}

.cb-body-row2 {
    display: flex;
    align-items: center;
}

.cb-body-row2 .cb-line-wrapper {
    flex: 0 0 75%;
    /*width: 75%;*/
    /*display: inline-block;*/
}

.cb-progress, .cb-enroll {
    margin-left: auto;
    display: inline-block;
    white-space: nowrap;
}



/*.cb-right {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*align-items: flex-end;*/
/*}*/