
.cb-wrapper {
    display: flex;
    position: relative;
    background-color: #ddd;
    margin: 15px;
    padding: 20px;
    box-sizing: border-box;
    width: 600px;
}

.cb-icon {
    width: 75px!important;
    /*height: ;*/
    flex: 0 0 auto;
    /*background-color: orange;*/
    /*border: 2px solid lightblue;*/
    border: 1px solid black;
    background-color: lightblue;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.cb-icon .ico {
    margin: auto;
    font-size: 36px;

}

.cb-icon .name {
    margin-top: auto;
    font-weight: bold;

}

.cb-title {
    font-size: 24px;
    padding-right: 20px;
    text-align: left;
}

.cb-body {
    flex: 1 1 auto;
    padding: 5px 0 5px 10px;
}

.cb-body-row1 {
    display: flex;
}
.term {
    position: absolute;
    right: 10px;
    top: 7px;
}

.cb-body-row2 {
    display: flex;
    align-items: center;
}

.cb-body-row2 .cb-line-wrapper {
    flex: 0 0 75%;
    /*width: 75%;*/
    /*display: inline-block;*/
}

.cb-progress, .cb-enroll {
    margin-left: auto;
    display: inline-block;
    white-space: nowrap;
}



/*.cb-right {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*align-items: flex-end;*/
/*}*/