.settings-wrapper {
    padding: 35px 0px;
    
}

.settings-wrapper h1 {
    text-align: center;
    border-bottom: 2px solid rgb(0,166,255);
    width: 75%;
    margin: auto;
    padding: 15px 10px;
    font-weight: bolder;
}

.settings-wrapper div {
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    margin: auto;
    justify-content: center;
}

.settings-wrapper button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.settings-border {
   width: 75%;
   border-bottom: 2px solid rgb(0,166,255);
}

