.act-wrapper {
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    margin: 0 10px;
}

.act-bar-wrapper {
    position: relative;
    display: flex;

    width: stretch;
    align-items: center;
    min-height: 50px;
    margin: 0 10px;
}

.act-icon {
    background-color: black;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    z-index: 1;
}

.act-main {
    background-color: #ddd;
    height: 40px;
    position: absolute;
    left: 30px;
    right: 0;
    padding: 0 10px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.act-main.done {
    background-color: rgba(192, 255, 192, 0.74);
}

.act-content {
    display: flex;
    justify-content: center;
    padding: 5px 15px;
}

.activity-edit-icon {

}
