.cd-wrapper {

}

.cd-main-wrapper {
    display: flex;
    align-content: stretch;
    min-height: 90vh;
}


.cd-sidebar-container {
    flex: 0 0 350px;
    border-right: 2px solid rgb(0,166,255);
    padding: 0 20px 0 20px;
}

.cd-sidebar-body {
   padding: 10px;
}

.enrollment-row {
    border-bottom: 2px solid rgb(0,166,255);
    display: flex;
    justify-content: space-between;
    padding: 0 20px 10px 20px;
}

.enrollment-row-link {
   transform: translateY(20%); 
}

.cd-sidebar-container h2{
   padding: 20px 20px 5px;
   display: flex;
   font-weight: bolder;
}

.cd-main-body {
    flex: 1 1 auto;
    overflow-y: scroll;
    height: 90vh;
}

.cd-topic-container {
   padding: 20px 0 0 0;
   
}

.cd-topic-container h3 {
   padding: 0 10px 0 30px;
}
