

.hm-wrapper {
    padding: 25px 0;
}

.hm-wrapper section {
    padding: 10px 0;
}

.hm-wrapper section h1 {
    text-align: center;
    border-bottom: 2px solid rgb(0,166,255);
    width: 75%;
    margin: auto;
    padding: 15px 10px;
    font-weight: bolder;
}

.hm-wrapper section div {
    /*padding: 10px 0;*/
    text-align: center;
}

.hm-section-body {
    /*text-align: left!important;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.hm-course-link {
    color: black;
    display: flex;
    justify-content: center;
}

.hm-course-link:hover {
    text-decoration: none;
    color: black;
}

